<!DOCTYPE html>
<html>
<head>
    <title>script Location2</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/dataTables/css/jquery.dataTables.min.css">
</head>
<body>
    <p>Hello world!<p>
    <!-- 추천하는 스크립트 위치 입니다. -->
    <script src="../../assets/jquery/jquery-3.2.1.min.js&../../jquery-3.2.1.min.map"></script>
    <script src="../../assets/dataTables/js/jquery.dataTables.min.js"></script>
    <script src="../../assets/vendor/popper.min.js"></script>
</body>
</html>
